<html xmlns:th="http://www.thymeleaf.org">
<body>


	<h1>Listes des produits</h1>


	<a th:href="@{/test/create}">Créer un produit</a>
	
	<div th:if="${#lists.isEmpty(products)}">
		Il n'existe pas de produits dans la base
	</div>
	<ul>
		<li th:each="product : ${products}"><span th:text="${product.name}"></span>
			: <span th:text="${product.price}"></span> Euros
			
			<a th:href="@{/test/edit/{id}(id=${product.id})}">Editer</a> |
			<a th:href="@{/test/delete/{id}(id=${product.id})}">Supprimer</a>
			</li>

	</ul>

</body>
</html>