<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Créer un produit</h1>
	<form action="#" th:action="@{/test/create}" th:object="${product}" method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					Error</td>
			</tr>
			<tr>
				<td>Price:</td>
				<td><input type="text" th:field="*{price}" /></td>
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price
					Error</td>
			</tr>
			<tr>
				<td><button type="submit">Créer le produit</button></td>
			</tr>
		</table>
	</form>

</body>
</html>