<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
			
		<title>FGH Solutions</title>
		
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap-reponsive.css" rel="stylesheet" type="text/css" />
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/vendor/bootstrap/css/bootstrap-reponsive.min.css" rel="stylesheet" type="text/css" />
		
		
		
		<!-- th:href="@{/css/style.css}"  Custom styles for this template -->
    	<link href="/vendor/bootstrap/css/heroic-features.css" rel="stylesheet" />
	
	</head>
	
	<body>
		<div class="content">
			<div class="no-content" th:if="${#lists.isEmpty(solutions)}">No Solution available.</div>
		
			<div class="container" style="max-width:85%" >
				
				<div class="row justify-content-md-center text-center solution-container">
			
					<div class="col-lg-4 col-md-6 mb-4" th:each="solution : ${solutions}">
					
						<div class="card">
						
							<div class="img-div-container" style="align-content=:center;">
								<img class="card-img-top" height="200" width="220" th:src="${solution.picture}" alt="picture" />
							</div>
							
							<div class='card-footer'>
								<font size='2'>
									<div class="card-title" th:text="${solution.name}"></div>
								</font>
								
								<font size='1'>								
									<p class='card-text'><b>Solution Owner:</b> <br/>Akim Neghouche</p>
									<p class='card-text'><b>HPSM-Name:</b> <br/><text class="solution-name-hpsm" th:text="${solution.hpsm_name}"></text></p>
								</font>
								
								<a style="margin-top: 10px;" href='component.html?id=" + solutions[i].ID + "' class='btn btn-primary'>Find Out More!</a>
								
							</div>
						
						</div>
					
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!-- Bootstrap core JavaScript -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/popper/popper.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript"></script>
	
	</body>
</html>