<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
			
		<title>FGH Solutions</title>
		
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
	
	</head>
	
	<body>
		<div class="content">
			<div class="no-content" th:if="${#lists.isEmpty(solutions)}">No Solution available.</div>
		
			<div class="container" style="max-width:85%" >
				
				<div class="row justify-content-md-center text-center solution-container">
			
					<div class="col-lg-4 col-md-6 mb-4" th:each="solution : ${solutions}">
					
						<div class="card">
						
							<div class="img-div-container" style="align-content=:center;">
								 <!-- <img class="card-img-top" height="200" width="220" th:src="${solution.sol_picture}" alt="picture" /> -->
								 <img class="card-img-top" height="200" width="220" th:src="${solution.picture}" alt="picture" /> 
							</div>
							
							<div class='card-footer'>
								
									<b><div class="card-title" th:text="${solution.name}"></div></b>
								
								
								<font size='1'>								
									<p class='card-text'><b>Solution Owner:</b> <br/>
									
									<span th:each="owner,iterStat  : ${solution.owners}">
        							<span th:text="${owner.name}"/>&nbsp;<span th:text="${owner.surname}"/><th:block th:if="${!iterStat.last}">,</th:block>
        							</span>
									<!--<text class="solution-name-hpsm" th:text="${solution.name}"></text>-->
									
									</p>
									
									<p class='card-text'><b>HPSM-Name:</b> <br/><span class="solution-name-hpsm" th:text="${solution.hpsm_name}"></span></p>
								</font>
								
								<a style="margin-top: 15px;" th:href="@{/solution/details/{id}(id=${solution.id})}" class='btn btn-primary'>Find Out More!</a>
								
							</div>
						
						</div>
					
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!-- Bootstrap core JavaScript -->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/popper/popper.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript"></script>
	
	</body>
</html>